<h1><center>  Data Cleaning and Data Aggregation </center></h1>

### `Context:`
I own a multi-specialty hospital chain with locations all across the world. My hospital is famous for vaccinations. Patients who come to my hospital (across the globe) will be given a user card with which they can access any of my hospitals in any location.

### `Current Status:`
We maintain customers data in Country wise database due to local policies. Now with legal approvals to build centralized data platform, we need our Data engineering team to collate data from individual databases into single source of truth having cleaned standardized data. Business wants to generate a simple PowerBI report for top executives summarizing till date vaccination metrics. This report will be published and generated daily for the next 18 months. The 3 metrics mentioned below are required for the phase 1 release. 

**Deliverables for assessment:**
Python code that does the below
- Data cleansing/exception handling
- Data merging into single source of truth
- Data transformations and aggregations
- Code should have unit testing

**Metrics needed:**
- Total vaccination count by country and vaccination type
- % vaccination in each country (You can assume values for total population)
- % vaccination contribution by country (Sum of percentages add up to 100)

**Expected output format**
- Metric 1: CountryName, VaccinationType, No. of vaccinations
- Metric 2: CountryName, % Vaccinated
- Metric 3: CountryName, % Contribution

In [283]:
#impoering libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# `Australia`

In [284]:
#loading excel file
aus = pd.read_excel(r'C:/Users/Rajeshri Jogi/Desktop/redataengineerpythonsqlincubytescaler/AUS.xlsx', engine='openpyxl')

In [285]:
#checking the data
aus.head()

   Unique ID Patient Name Vaccine Type Date of Birth  Date of Vaccination
0          1         Mike          LMN           NaT  2022-05-11 00:00:00
1          2    Jonnathan          XYZ    1997-12-13           2021-13-13
2          3     Cristina          ABC    1998-03-12  2022-03-12 00:00:00

In [286]:
#checking again
aus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unique ID            3 non-null      int64
 1   Patient Name         3 non-null      object
 2   Vaccine Type         3 non-null      object
 3   Date of Birth        2 non-null      datetime64[ns]
 4   Date of Vaccination  3 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 248.0+ bytes

In [287]:
#removing the worng data
aus['Date of Vaccination'].replace({'2021-13-13': None}, inplace = True)

In [288]:
#changing the dtype
aus['Date of Vaccination'] = pd.to_datetime(aus['Date of Vaccination'])

In [289]:
#created a new column with country name
aus['Country'] = 'Australia'

In [290]:
#drop unique ids
aus.drop('Unique ID', axis = 1, inplace = True)

In [291]:
#checking the column names
aus.columns

Index(['Patient Name', 'Vaccine Type', 'Date of Birth', 'Date of Vaccination',
       'Country'],
      dtype='object')

In [292]:
#renaming the vaccine type column name with other data set names
aus.rename(columns = {'Vaccine Type': 'VaccinationType', 'Patient Name':'Name', 'Date of Birth': 'DOB', 'Date of Vaccination':'VaccinationDate'}, inplace = True)

In [293]:
#checking the data
aus.head()

        Name VaccinationType        DOB VaccinationDate    Country
0       Mike             LMN        NaT      2022-05-11  Australia
1  Jonnathan             XYZ 1997-12-13             NaT  Australia
2   Cristina             ABC 1998-03-12      2022-03-12  Australia

In [294]:
#checking shape
aus.shape

(3, 5)

In [295]:
#checking data info again
aus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3 non-null      object
 1   VaccinationType  3 non-null      object
 2   DOB              2 non-null      datetime64[ns]
 3   VaccinationDate  2 non-null      datetime64[ns]
 4   Country          3 non-null      object
dtypes: datetime64[ns](2), object(3)
memory usage: 248.0+ bytes

## `India`

In [296]:
#loading csv file
ind = pd.read_csv('C:/Users/Rajeshri Jogi/Desktop/redataengineerpythonsqlincubytescaler/IND.csv')

In [297]:
#checking the data
ind.head()

   ID    Name         DOB VaccinationType VaccinationDate Free or Paid
0   1   Vikas  1998-12-01             XYZ      2022-01-01            F
1   2   Rahul  1982-08-13             ABC      2022-03-05            P
2   3  Sameer  1952-08-13             ABC      2022-02-20            F

In [298]:
#checking shape
ind.shape

(3, 6)

In [299]:
#checking
ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               3 non-null      int64
 1   Name             3 non-null      object
 2   DOB              3 non-null      object
 3   VaccinationType  3 non-null      object
 4   VaccinationDate  3 non-null      object
 5   Free or Paid     3 non-null      object
dtypes: int64(1), object(5)
memory usage: 272.0+ bytes

In [300]:
#changing the dtype
ind['VaccinationDate'] = pd.to_datetime(ind['VaccinationDate'])
ind['DOB'] = pd.to_datetime(ind['DOB'])

In [301]:
#created a new column with country name
ind['Country'] = 'India'

In [302]:
#drop unique ids
ind.drop('ID', axis = 1, inplace = True)

In [303]:
#checking the column names
ind.columns

Index(['Name', 'DOB', 'VaccinationType', 'VaccinationDate', 'Free or Paid',
       'Country'],
      dtype='object')

In [304]:
#checking
ind.head()

     Name        DOB VaccinationType VaccinationDate Free or Paid Country
0   Vikas 1998-12-01             XYZ      2022-01-01            F   India
1   Rahul 1982-08-13             ABC      2022-03-05            P   India
2  Sameer 1952-08-13             ABC      2022-02-20            F   India

In [305]:
#cheking info again
ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3 non-null      object
 1   DOB              3 non-null      datetime64[ns]
 2   VaccinationType  3 non-null      object
 3   VaccinationDate  3 non-null      datetime64[ns]
 4   Free or Paid     3 non-null      object
 5   Country          3 non-null      object
dtypes: datetime64[ns](2), object(4)
memory usage: 272.0+ bytes

## `USA`

In [306]:
#loading csv file
usa = pd.read_csv('C:/Users/Rajeshri Jogi/Desktop/redataengineerpythonsqlincubytescaler/USA.csv')

In [307]:
#checking the data
usa.head()

   ID  Name VaccinationType VaccinationDate
0   1   Sam             EFG      06-05-2022
1   2  John             XYZ      10-05-2022
2   3  Mike             ABC      12-28-2021

In [308]:
#checking shape
usa.shape

(3, 4)

In [309]:
#checking info
usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               3 non-null      int64
 1   Name             3 non-null      object
 2   VaccinationType  3 non-null      object
 3   VaccinationDate  3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

In [310]:
#changing dtype
usa['VaccinationDate'] = pd.to_datetime(usa['VaccinationDate'])

In [311]:
#checking info
usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               3 non-null      int64
 1   Name             3 non-null      object
 2   VaccinationType  3 non-null      object
 3   VaccinationDate  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 224.0+ bytes

In [312]:
#created a new column with country name
usa['Country'] = 'USA'

In [313]:
#drop unique ids
usa.drop('ID', axis = 1, inplace = True)

In [314]:
#checking the column names
usa.columns

Index(['Name', 'VaccinationType', 'VaccinationDate', 'Country'], dtype='object')

In [315]:
#checking again
usa.head()

   Name VaccinationType VaccinationDate Country
0   Sam             EFG      2022-06-05     USA
1  John             XYZ      2022-10-05     USA
2  Mike             ABC      2021-12-28     USA

In [316]:
#checking data details
usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3 non-null      object
 1   VaccinationType  3 non-null      object
 2   VaccinationDate  3 non-null      datetime64[ns]
 3   Country          3 non-null      object
dtypes: datetime64[ns](1), object(3)
memory usage: 224.0+ bytes

## `Merging the Datasets`

In [317]:
#merging two datasets as outer join to retain all the data
df1 = pd.merge(aus, ind, how = 'outer')

In [318]:
#checking
df1

,Name,VaccinationType,DOB,VaccinationDate,Country,Free or Paid
0,Mike,LMN,NaT,2022-05-11,Australia,NaN
1,Jonnathan,XYZ,1997-12-13,NaT,Australia,NaN
2,Cristina,ABC,1998-03-12,2022-03-12,Australia,NaN
3,Vikas,XYZ,1998-12-01,2022-01-01,India,F
4,Rahul,ABC,1982-08-13,2022-03-05,India,P
5,Sameer,ABC,1952-08-13,2022-02-20,India,F

In [319]:
#merging two datasets as outer join to retain all the data
df = pd.merge(df1,usa, how = 'outer')

In [320]:
#checking
df

,Name,VaccinationType,DOB,VaccinationDate,Country,Free or Paid
0,Mike,LMN,NaT,2022-05-11,Australia,NaN
1,Jonnathan,XYZ,1997-12-13,NaT,Australia,NaN
2,Cristina,ABC,1998-03-12,2022-03-12,Australia,NaN
3,Vikas,XYZ,1998-12-01,2022-01-01,India,F
4,Rahul,ABC,1982-08-13,2022-03-05,India,P
5,Sameer,ABC,1952-08-13,2022-02-20,India,F
6,Sam,EFG,NaT,2022-06-05,USA,NaN
7,John,XYZ,NaT,2022-10-05,USA,NaN
8,Mike,ABC,NaT,2021-12-28,USA,NaN

In [321]:
#checking column names
df.columns

Index(['Name', 'VaccinationType', 'DOB', 'VaccinationDate', 'Country',
       'Free or Paid'],
      dtype='object')

In [322]:
#drop the unwanted columns
df_final = df.drop(['Name', 'DOB', 'VaccinationDate','Free or Paid'], axis = 1)
df_final

  VaccinationType    Country
0             LMN  Australia
1             XYZ  Australia
2             ABC  Australia
3             XYZ      India
4             ABC      India
5             ABC      India
6             EFG        USA
7             XYZ        USA
8             ABC        USA

In [323]:
#checing shape
df_final.shape

(9, 2)

In [324]:
#changing the columnn allignment
df_final = df_final[['Country', 'VaccinationType']]
df_final

     Country VaccinationType
0  Australia             LMN
1  Australia             XYZ
2  Australia             ABC
3      India             XYZ
4      India             ABC
5      India             ABC
6        USA             EFG
7        USA             XYZ
8        USA             ABC

In [325]:
df.VaccinationType.value_counts()

ABC    4
XYZ    3
LMN    1
EFG    1
Name: VaccinationType, dtype: int64

In [326]:
df.groupby('VaccinationType')['Country'].sum()

VaccinationType
ABC    AustraliaIndiaIndiaUSA
EFG                       USA
LMN                 Australia
XYZ         AustraliaIndiaUSA
Name: Country, dtype: object

# `Metric 1: CountryName, VaccinationType, No. of vaccinations`

In [327]:
#checking all the margins as per country and vaccination type
pd.crosstab(df_final['Country'],df_final['VaccinationType'],margins=True,normalize = True)

VaccinationType       ABC       EFG       LMN       XYZ       All
Country
Australia        0.111111  0.000000  0.111111  0.111111  0.333333
India            0.222222  0.000000  0.000000  0.111111  0.333333
USA              0.111111  0.111111  0.000000  0.111111  0.333333
All              0.444444  0.111111  0.111111  0.333333  1.000000

In [328]:
#groupby country and vaccination type to get the no of each vaccine count given in a country
metric1 = df_final.groupby(['Country', 'VaccinationType']).agg({'VaccinationType':'count'}).rename(columns = {'VaccinationType': 'No_of_Vaccinations'}).reset_index()

In [329]:
#checking
metric1

     Country VaccinationType  No_of_Vaccinations
0  Australia             ABC                   1
1  Australia             LMN                   1
2  Australia             XYZ                   1
3      India             ABC                   2
4      India             XYZ                   1
5        USA             ABC                   1
6        USA             EFG                   1
7        USA             XYZ                   1

```
The above metric shows Total vaccination count by country and vaccination type

```

# Summary of Metric1:
- No of vaccinations means: In each country how many people are given the particular vaccine.
- Example: In India, Vaccination Type 'ABC' is given to 2 people

In [330]:
#exporting csv file for further use
metric1.to_csv('metric1.csv')

# `Metric2: CountryName, % Vaccinated`

### Assuming the population for each country:
India = 500
Australia = 200
USA = 350

In [331]:
#checking
metric1

     Country VaccinationType  No_of_Vaccinations
0  Australia             ABC                   1
1  Australia             LMN                   1
2  Australia             XYZ                   1
3      India             ABC                   2
4      India             XYZ                   1
5        USA             ABC                   1
6        USA             EFG                   1
7        USA             XYZ                   1

In [332]:
#incorporating population for each country

metric1.loc[metric1.Country == 'India', 'Population'] = 500
metric1.loc[metric1.Country == 'USA', 'Population'] = 350

In [333]:
#checking
metric1

     Country VaccinationType  No_of_Vaccinations  Population
0  Australia             ABC                   1       200.0
1  Australia             LMN                   1       200.0
2  Australia             XYZ                   1       200.0
3      India             ABC                   2       500.0
4      India             XYZ                   1       500.0
5        USA             ABC                   1       350.0
6        USA             EFG                   1       350.0
7        USA             XYZ                   1       350.0

In [334]:
#calculating percenatge of people vaccinated 
metric1['%Vaccinated'] = round(metric1['No_of_Vaccinations'] / metric1['Population'],4)
metric1

     Country VaccinationType  No_of_Vaccinations  Population  %Vaccinated
0  Australia             ABC                   1       200.0       0.0050
1  Australia             LMN                   1       200.0       0.0050
2  Australia             XYZ                   1       200.0       0.0050
3      India             ABC                   2       500.0       0.0040
4      India             XYZ                   1       500.0       0.0020
5        USA             ABC                   1       350.0       0.0029
6        USA             EFG                   1       350.0       0.0029
7        USA             XYZ                   1       350.0       0.0029

In [335]:
#drop unwanted columns
metric2 = metric1.drop(['No_of_Vaccinations', 'Population'], axis = 1)
metric2

     Country VaccinationType  %Vaccinated
0  Australia             ABC       0.0050
1  Australia             LMN       0.0050
2  Australia             XYZ       0.0050
3      India             ABC       0.0040
4      India             XYZ       0.0020
5        USA             ABC       0.0029
6        USA             EFG       0.0029
7        USA             XYZ       0.0029

# Summary of Metric2:
- %Vaccinated means: In each country, how much percent of the population is vaccinated with the particular vaccine
- Example: In India, 0.004% of population is vaccinated with VaccinationType 'ABC'

In [336]:
#exporting csv file for further use
metric2.to_csv('metric2.csv')

## `Optional Metric2`

In [337]:
#checking
metric1

     Country VaccinationType  No_of_Vaccinations  Population  %Vaccinated
0  Australia             ABC                   1       200.0       0.0050
1  Australia             LMN                   1       200.0       0.0050
2  Australia             XYZ                   1       200.0       0.0050
3      India             ABC                   2       500.0       0.0040
4      India             XYZ                   1       500.0       0.0020
5        USA             ABC                   1       350.0       0.0029
6        USA             EFG                   1       350.0       0.0029
7        USA             XYZ                   1       350.0       0.0029

In [338]:
#calculating total vaccines taken in a country
metric2_opt = metric1.groupby('Country', as_index = False).agg({'No_of_Vaccinations': 'sum', 'Population': 'first'})
metric2_opt

     Country  No_of_Vaccinations  Population
0  Australia                   3       200.0
1      India                   3       500.0
2        USA                   3       350.0

In [339]:
#calculating percenatge of people vaccinated 
metric2_opt['%Vaccinated'] = round(metric2_opt['No_of_Vaccinations'] / metric2_opt['Population'],4)
metric2_opt

     Country  No_of_Vaccinations  Population  %Vaccinated
0  Australia                   3       200.0       0.0150
1      India                   3       500.0       0.0060
2        USA                   3       350.0       0.0086

In [340]:
#drop unwanted columns
metric2_opt.drop(['No_of_Vaccinations', 'Population'], axis = 1, inplace = True)
metric2_opt

     Country  %Vaccinated
0  Australia       0.0150
1      India       0.0060
2        USA       0.0086

# Summary of Metric2_opt:
- %Vaccinated means: Countrywise Percenatge of population vaccinated with any type of Vaccination
- Example: In India, 0.006% of population is vaccinated with atleast one type of vaccination

In [341]:
#exporting csv file for further use
metric2_opt.to_csv('metric2_opt.csv')

# `Metric 3: CountryName, % Contribution`

In [342]:
df_final

     Country VaccinationType
0  Australia             LMN
1  Australia             XYZ
2  Australia             ABC
3      India             XYZ
4      India             ABC
5      India             ABC
6        USA             EFG
7        USA             XYZ
8        USA             ABC

In [343]:
#calculating no of vaccines per country using groupby and agg functions
metric3 = df_final.groupby(['Country', 'VaccinationType']).agg({'VaccinationType':'count'}).rename(columns = {'VaccinationType': 'No_of_Vaccinations'}).reset_index()

In [344]:
metric3

     Country VaccinationType  No_of_Vaccinations
0  Australia             ABC                   1
1  Australia             LMN                   1
2  Australia             XYZ                   1
3      India             ABC                   2
4      India             XYZ                   1
5        USA             ABC                   1
6        USA             EFG                   1
7        USA             XYZ                   1

In [345]:
#caulculating Total vaccined taken using groupby and agg funcytion
g = metric3.groupby('Country', as_index=False).agg({'No_of_Vaccinations':'sum'})
g.rename(columns = {'No_of_Vaccinations':'Total'}, inplace=True)
g

     Country  Total
0  Australia      3
1      India      3
2        USA      3

In [346]:
#merge the data to get complete outlook
metric3 = pd.merge(metric3,g, how='left', on = 'Country')
metric3

     Country VaccinationType  No_of_Vaccinations  Total
0  Australia             ABC                   1      3
1  Australia             LMN                   1      3
2  Australia             XYZ                   1      3
3      India             ABC                   2      3
4      India             XYZ                   1      3
5        USA             ABC                   1      3
6        USA             EFG                   1      3
7        USA             XYZ                   1      3

In [347]:
metric3.pivot(index='VaccinationType', columns = 'Country', values = 'No_of_Vaccinations')

Country          Australia  India  USA
VaccinationType
ABC                    1.0    2.0  1.0
EFG                    NaN    NaN  1.0
LMN                    1.0    NaN  NaN
XYZ                    1.0    1.0  1.0

In [348]:
#calculating %contributed as per the vaccination in a country
metric3['%Contributed'] = round(metric3['No_of_Vaccinations']/metric3['Total'],2)
metric3

     Country VaccinationType  No_of_Vaccinations  Total  %Contributed
0  Australia             ABC                   1      3          0.33
1  Australia             LMN                   1      3          0.33
2  Australia             XYZ                   1      3          0.33
3      India             ABC                   2      3          0.67
4      India             XYZ                   1      3          0.33
5        USA             ABC                   1      3          0.33
6        USA             EFG                   1      3          0.33
7        USA             XYZ                   1      3          0.33

In [349]:
#drop unwanted columns
metric3.drop(['No_of_Vaccinations','Total'], axis = 1, inplace = True)
metric3

     Country VaccinationType  %Contributed
0  Australia             ABC          0.33
1  Australia             LMN          0.33
2  Australia             XYZ          0.33
3      India             ABC          0.67
4      India             XYZ          0.33
5        USA             ABC          0.33
6        USA             EFG          0.33
7        USA             XYZ          0.33

# Summary of Metric3:
- %Contributed means: Percenatge contribution of each vaccination in a particular country
- Example: In India, VaccinationType 'ABC' contributed to 67% of the vaccination, in other words 67% of vaccinated people in Inda are vaccinated with VaccinationType 'ABC'

In [350]:
#export csv file for further use
metric3.to_csv('metric3.csv')

<h1><center>  END </center></h1>